@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@layer base {
		:root {
			--background: 0 0% 100%;
			--foreground: 240 10% 3.9%;
			--card: 0 0% 100%;
			--card-foreground: 240 10% 3.9%;
			--popover: 0 0% 100%;
			--popover-foreground: 240 10% 3.9%;
			--primary: 240 5.9% 10%;
			--primary-foreground: 0 0% 98%;
			--secondary: 240 4.8% 75.9%;
			--secondary-foreground: 240 5.9% 10%;
			--tertiary: 27 82% 98%;
			--muted: 240 4.8% 95.9%;
			--muted-foreground: 240 3.8% 46.1%;
			--accent: 240 4.8% 95.9%;
			--accent-foreground: 240 5.9% 10%;
			--destructive: 0 84.2% 60.2%;
			--destructive-foreground: 0 0% 98%;
			--border: 240 5.9% 90%;
			--input: 240 5.9% 90%;
			--ring: 240 5.9% 10%;
			--radius: 0rem;
		}

		.dark {
			--background: 240 10% 3.9%;
			--foreground: 0 0% 98%;
			--card: 240 10% 3.9%;
			--card-foreground: 0 0% 98%;
			--popover: 240 10% 3.9%;
			--popover-foreground: 0 0% 98%;
			--primary: 0 0% 98%;
			--primary-foreground: 240 5.9% 10%;
			--secondary: 240 3.7% 15.9%;
			--secondary-foreground: 0 0% 98%;
			--tertiary: 240 22% 20%;
			--muted: 240 3.7% 15.9%;
			--muted-foreground: 240 5% 64.9%;
			--accent: 240 3.7% 15.9%;
			--accent-foreground: 0 0% 98%;
			--destructive: 0 62.8% 30.6%;
			--destructive-foreground: 0 0% 98%;
			--border: 240 23.7% 15.9%;
			--input: 240 23.7% 15.9%;
			--ring: 240 4.9% 83.9%;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	/* h2 {
		@apply bg-dots_light bg-dots_dark;
	} */
}

.bg-hero {
	background-image: url('/hero/hero-bg.png');
}

.bg-hero_shape {
	background-image: url('/hero/shape-1.svg');
}

.bg-hero_shape2_light {
	background-image: url('/hero/shape-2-light.svg');
}

.bg-hero_shape2_dark {
	background-image: url('/hero/shape-2-dark.svg');
}

.bg-dots_light {
	background-image: url('/dots-light.svg');
}

.bg-dots_dark {
	background-image: url('/dots-dark.svg');
}

.work-project-bg-light {
	background-image: url('/work/project-bg-light.png');
}

.work-project-bg-dark {
	background-image: url('/work/project-bg-dark.png');
}

.work-project-bg {
	background-image: url('/hero/hero-bg.png');
}

.contact-illustration-light {
	background-image: url('/contact/illustration-light.svg');
}

.dark .contact-illustration-dark {
	background-image: url('/contact/illustration-dark.svg');
}

/* .bg-hero_c {
	background-image: url('/hero/circle.svg');
}

.bg-hero_c2_light {
	background-image: url('/hero/circle-2-light.svg');
}

.bg-hero_c2_dark {
	background-image: url('/hero/circle-2-dark.svg');
} */

.h1 {
	@apply text-6xl lg:text-[72px] lg:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
	@apply text-4xl font-bold;
}

.h3 {
	@apply text-3xl font-bold;
}

.h4 {
	@apply text-[22px] font-semibold;
}

.subtitle {
	@apply text-lg my-4 font-light;
}

.section-title {
	@apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3;
}

.badge {
	@apply z-10 w-[200px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4 hover:bg-slate-100;
}

/* Swiper Bullet Styles */
.swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet,
.sipwer-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	@apply bg-primary;
}
